h1{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: cornsilk;
    border-radius: 10px;
}
h1:hover{
    color: bisque;
    text-align: center;
    background-color: rgb(69, 66, 53);
    box-shadow: 6px 6px 15px black;
    transition: 0.5s;

}
/* 
button{
    background-color: black;
    color: blanchedalmond;
} */

.food {
    border: 1px solid rgb(158, 220, 165);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(225, 231, 192);
}

.food:hover{
    background-color: rgb(54, 61, 41);
    color: bisque;
    box-shadow: 6px 6px 15px black;
    transition: 0.5s;
}

.container {
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 20px;
}
/* s,aller device */
@media screen and (max-width:576px) {
    .comtainer{
        grid-template-columns: repeat(1,1fr);
    }
    .food{
        background-color: rgb(140, 162, 103);
    }
}

/* medium device */

/* @media screen and (min-width:577px) and (max-width:992px){
    .container{
        grid-template-columns: repeat(2,qfr);
    }
    .food{
        background-color: khaki;
    }
} */

